.header {
    border-bottom: 1px solid #ccc;
}

.container {
    padding: 10px 0 10px 0;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linksBlock {
    display: flex;
    flex-direction: row;
    gap: 20px;
}